---
# tasks file for update_docker_container

- name: "Pull watchtower"
  ansible.builtin.shell:
    cmd: docker pull nickfedor/watchtower
  register: pull_watchtower
  changed_when: true

- name: "Pull watchtower output"
  ansible.builtin.debug:
    msg: "{{ pull_watchtower.stdout_lines }}"
  when: pull_watchtower.stdout_lines | length > 0

- name: "Update docker containers"
  ansible.builtin.shell:
    cmd: docker run --privileged --security-opt apparmor=unconfined --rm -v /var/run/docker.sock:/var/run/docker.sock nickfedor/watchtower --porcelain v1 --cleanup --run-once
  register: update_watchtower
  changed_when: true

- name: "Update docker containers output"
  ansible.builtin.debug:
    msg: "{{ update_watchtower.stdout_lines }}"
  when: update_watchtower.stdout_lines | length > 0
