#SPDX-License-Identifier: MIT-0
---
# tasks file for backup_qemu_vms

- name: "Create backup directory"
  ansible.builtin.file:
    path: "{{ backup_base_dir }}{{ ansible_facts['date_time']['date'] }}"
    state: directory
    mode: "0750"

- name: "Backup qemu vms via RSYNC" # noqa: command-instead-of-module
  ansible.builtin.shell:
    cmd: rsync -aAXHv --numeric-ids --delete "{{ source_dir }}" "{{ ansible_facts['date_time']['date'] }}"
  changed_when: true
  args:
    chdir: "{{ backup_base_dir }}"

- name: "Get backup directories list"
  ansible.builtin.find:
    paths: "{{ backup_base_dir }}"
    file_type: directory
  register: list_backup_dirs

- name: "Delete old backup directories"
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ (list_backup_dirs.files | sort(attribute='ctime'))[:-backup_retention] }}"
  when: list_backup_dirs.files | length > backup_retention

- name: "List backup directories"
  ansible.builtin.shell:
    cmd: ls -ltrh "{{ backup_base_dir }}"
  register: ls_backup_dirs
  changed_when: false

- name: "Show backup directories"
  ansible.builtin.debug:
    msg: "{{ ls_backup_dirs.stdout_lines }}"
  when: ls_backup_dirs.stdout_lines | length > 0
