---
# tasks file for core_system_backup

- name: "Core System Backup"
  ansible.builtin.shell:
    cmd: system-backup --create --scheduled
  register: core_system_backup
  changed_when: true

- name: "Show output"
  ansible.builtin.debug:
    msg: "{{ core_system_backup.stdout_lines }}"
  when: core_system_backup.stdout_lines | length > 0

- name: "Get backup directories names and sizes"
  ansible.builtin.shell:
    cmd: du -hd1 /backup/system/
  register: size_backup_dirs
  changed_when: false

- name: "Show backup directories"
  ansible.builtin.debug:
    msg: "{{ size_backup_dirs.stdout_lines }}"
  when: size_backup_dirs.stdout_lines | length > 0
