---
# tasks file for dump_databases

- name: "Dump the Zabbix database"
  ansible.builtin.shell:
    cmd: set -o pipefail && machinectl shell "{{ podman_user }}"@ /bin/bash -lc "podman exec -t postgres-zabbix pg_dumpall -c -U $(cat /data/podman/volumes/postgres/zabbix/env/user) -l $(cat /data/podman/volumes/postgres/zabbix/env/database) | tee /data/podman/volumes/postgres/zabbix/backup/$(date +%d-%m-%Y).dump"
  register: dump_zabbix_database
  changed_when: true

- name: "List old dumps of the Zabbix database"
  ansible.builtin.find:
    paths: /data/podman/volumes/postgres/zabbix/backup
    patterns: '*.dump'
    age: 1w
  register: list_old_dumps_zabbix

- name: "Delete old dumps of the Zabbix database"
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ list_old_dumps_zabbix.files }}"

- name: "Get Zabbix database dump names and sizes"
  ansible.builtin.shell:
    cmd: du -hd1 /data/podman/volumes/postgres/zabbix/backup/*
  register: size_zabbix_dump_files
  changed_when: false

- name: "Show Zabbix database dump files"
  ansible.builtin.debug:
    msg: "{{ size_zabbix_dump_files.stdout_lines }}"
  when: size_zabbix_dump_files.stdout_lines | length > 0
