---
# tasks file for update_antiz.fr

- name: "Update antiz.fr website - {{ branch }}"
  ansible.builtin.shell:
    cmd: git fetch origin && git checkout origin/{{ branch }} -- public
  register: update_antiz_fr
  changed_when: true
  args:
    chdir: "/opt/antiz.fr"
