name: CI
on: pull_request

jobs:
  Test:
    runs-on:
      - self-hosted
      - CI-CD

    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Run actionlint
        run: actionlint -ignore 'label "CI-CD" is unknown' .github/workflows/CI.yml

      - name: Run codespell
        run: codespell --enable-colors

      - name: Run mdl
        run: mdl --style .github/workflows/mdl_style.rb .

      - name: Run ansible-lint
        run: ansible-lint -q --force-color --config-file .github/workflows/ansible-lint.conf --project-dir Ansible/playbooks/

      - name: Run ansible-inventory
        run: error=$( { ansible-inventory --list --yaml -i Ansible/inventories/ > /dev/null; } 2>&1 ); [ -n "${error}" ] && echo "${error}" && exit 1 || exit 0
